/*
 * @Author: xzl 
 * @Date: 2020-05-14 14:46:44 
 * @Last Modified by: xzl
 * @Last Modified time: 2020-05-14 15:44:10
 */
body{
    width: 100%;
    height: 100%;   
}

.Home{
    width: 100%;
    height: 100%;
    background-color:#0877;
}
 